/*----------------------------*/
/*---- BOII | DEVELOPMENT ----*/
/*----------------------------*/

* {
    padding: 0;
    margin: 0
}
  
  /* Body styling */
body {
    background-color: #1f1e1e;
    overflow: hidden;
    font-family: 'Aldrich'; /* Change font here */
}

/* Background image styling */
.bg-crossfade > div {
    animation: imageAnimation 30s linear infinite 0s;
    backface-visibility: hidden;
    background-size: cover;
    background-position: center center;
    color: transparent;
    height: 100%;
    left: 0px;
    opacity: 0;
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: 0;
}

/* Background images */
.bg-crossfade > div:nth-child(1) {
    background-image: url('img/bg1.jpg'); /* Change background image here */
}
.bg-crossfade > div:nth-child(2) {
    animation-delay: 6s;
    background-image: url('img/bg2.jpg'); /* Change background image here */
}
.bg-crossfade > div:nth-child(3) {
    animation-delay: 12s;
    background-image: url('img/bg3.jpg'); /* Change background image here */
}
.bg-crossfade > div:nth-child(4) {
    animation-delay: 18s;
    background-image: url('img/bg4.jpg'); /* Change background image here */
}
.bg-crossfade > div:nth-child(5) {
    animation-delay: 24s;
    background-image: url('img/bg5.jpg'); /* Change background image here */
}

/* Left side overlay */
.bg-overlay {
    position: fixed;
    left: -10%;
    height: 100%;
    width: 25%;
    background-color: rgba(31, 30, 30, 0.9); /* Edit background colour here */
    transform: skew(-15deg);
    border: 1px solid #4dcbc2; /* Edit border colour here */
    border-top: none;
    border-bottom: none;
    box-shadow: rgba(77, 203, 195, 0.56) 0px 0px 50px 4px; /* Edit box shadow here */
}

/* Header container for image/servername */
.header-container {
    position: fixed;
    top: 4%;
    left: 4.5%;
    height: 3%;
    width: 16%;
    text-align: left;
    font-size: 0.8rem;
    color: #fff;
    text-shadow: 0px 0px 10px #4DCBC2; /* Edit text shadow here */
}

/* Logo container */
.logo-container > logo {
    position: fixed;
    top: 2.5%;
    left: 1%;
    height: 6%;
    width: 3%;
    border-radius: 30%;
    background-size: cover;
    background-position: center center;
    background-image: url('img/logo.png'); // Edit header logo here
    box-shadow: rgba(77, 203, 195, 0.56) 0px 0px 10px 2px; /* Edit box shadow here */
}

/* Menu button 1 */
.content-btn1 {
    position: fixed;
    top: 25%;
    left: 13%;
    height: 5%;
    width: 10%;
    border: 1px solid #4dcbc2; /* Edit border here */
    background-color: rgba(31, 30, 30, 1); /* Edit background colour here */
    box-shadow: rgba(77, 203, 195, 0.56) 0px 0px 5px 2px; /* Edit box shadow here */
    transform: skew(-15deg); 
    text-align: center;
    font-size: 20px;
    color: #fff; /* Edit colour here */
}
.content-btn1:hover {
    color: #4DCBC2; /* Edit colour here */
    box-shadow: rgba(77, 203, 195, 0.56) 0px 0px 15px 2px; /* Edit box shadow here */
}

/* Menu button 2 */
.content-btn2 {
    position: fixed;
    top: 32%;
    left: 12%;
    height: 5%;
    width: 10%;
    border: 1px solid #4dcbc2; /* Edit border here */
    background-color: rgba(31, 30, 30, 1); /* Edit background colour here */
    box-shadow: rgba(77, 203, 195, 0.56) 0px 0px 5px 2px; /* Edit box shadow here */
    transform: skew(-15deg); 
    text-align: center;
    font-size: 20px;
    color: #fff; /* Edit colour here */
}
.content-btn2:hover {
    color: #4DCBC2; /* Edit colour here */
    box-shadow: rgba(77, 203, 195, 0.56) 0px 0px 15px 2px; /* Edit box shadow here */
}

/* Menu button 3 */
.content-btn3 {
    position: fixed;
    top: 39%;
    left: 11%;
    height: 5%;
    width: 10%;
    border: 1px solid #4dcbc2; /* Edit border here */
    background-color: rgba(31, 30, 30, 1); /* Edit background colour here */
    box-shadow: rgba(77, 203, 195, 0.56) 0px 0px 5px 2px; /* Edit box shadow here */
    transform: skew(-15deg); 
    text-align: center;
    font-size: 20px;
    color: #fff; /* Edit colour here */
}
.content-btn3:hover {
    color: #4DCBC2; /* Edit colour here */
    box-shadow: rgba(77, 203, 195, 0.56) 0px 0px 15px 2px; /* Edit box shadow here */
}

/* Menu button 4 */
.content-btn4 {
    position: fixed;
    top: 46%;
    left: 10%;
    height: 5%;
    width: 10%;
    border: 1px solid #4dcbc2; /* Edit border here */
    background-color: rgba(31, 30, 30, 1); /* Edit background colour here */
    box-shadow: rgba(77, 203, 195, 0.56) 0px 0px 5px 2px; /* Edit box shadow here */
    transform: skew(-15deg); 
    text-align: center;
    font-size: 20px;
    color: #fff; /* Edit colour here */
}
.content-btn4:hover {
    color: #4DCBC2; /* Edit colour here */
    box-shadow: rgba(77, 203, 195, 0.56) 0px 0px 15px 2px; /* Edit box shadow here */
}

/* Menu button 5 */
.content-btn5 {
    position: fixed;
    top: 53%;
    left: 9%;
    height: 5%;
    width: 10%;
    border: 1px solid #4dcbc2; /* Edit border here */
    background-color: rgba(31, 30, 30, 1); /* Edit background colour here */
    box-shadow: rgba(77, 203, 195, 0.56) 0px 0px 5px 2px; /* Edit box shadow here */
    transform: skew(-15deg); 
    text-align: center;
    font-size: 20px;
    color: #fff; /* Edit colour here */
}
.content-btn5:hover {
    color: #4DCBC2; /* Edit colour here */
    box-shadow: rgba(77, 203, 195, 0.56) 0px 0px 15px 2px; /* Edit box shadow here */
}


/* Active button */
.button:active {
    colour: #4DCBC2; /* Edit colour here */
}

/* Content containers */
#news-container {
    position: fixed;
    top: 10%;
    left: 25%;
    height: 80%;
    width: 65%;
    background-color: none;
    transform: skew(-15deg);
    overflow-y: scroll;
}
#rules-container {
    position: fixed;
    top: 10%;
    left: 25%;
    height: 80%;
    width: 65%;
    background-color: none;
    transform: skew(-15deg);
    overflow-y: scroll;
}
#staff-container {
    position: fixed;
    top: 10%;
    left: 25%;
    height: 80%;
    width: 65%;
    background-color: none;
    transform: skew(-15deg);
    overflow-y: scroll;
}
#trailer-container {
    position: fixed;
    top: 10%;
    left: 25%;
    height: 80%;
    width: 65%;
    background-color: none;
    transform: skew(-15deg);
}

video {
    height: 79.8%;
    width: 90%;
    box-shadow: rgba(31, 30, 30, 0.65) 0px 0px 15px 2px; /* Edit box shadow here */
}
/* Content texts */
.content-header {
    color: #fff; /* Edit colour here */
    font-size: 4rem;
    text-shadow: 0px 0px 10px #1f1e1e; /* Edit text shadow here */
    padding: 1%
}
.content-text {
    color: #fff; /* Edit colour here */
    font-size: 1.2rem;
    text-shadow: 0px 0px 10px #1f1e1e; /* Edit text shadow here */
    padding: 1%
}

/* Grids */
.staff-grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: 50%;
    gap: 10% 20%;
    background-color: none;
    padding: 1%
}
.staff-grid > div {
    background-color: none;
    border: 0px solid black;
    border-radius: 15%;
    text-align: center;
    font-size: 1.5rem;
}
.news-grid {
    display: inline-block;
    grid-template-columns: auto auto auto auto;
    width: 90%;
    height: 10%;
    gap: 10% 00%;
    background-color: none;
    padding: 1.5%
}
.news-grid > div {
    background-color: none;
    text-align: center;
    font-size: 1.5rem;
}

/* Images */
.staff-img {
    max-height: 150px;
    max-width: 150px;
    border-radius: 25%;
    box-shadow: rgba(31, 30, 30, 0.65) 0px 0px 10px 2px; /* Edit box shadow here */
}
.news-img {
    fit: cover;
    max-width: 100%;
    box-shadow: rgba(31, 30, 30, 0.65) 0px 0px 10px 2px; /* Edit box shadow here */
}

/* Hidden display */
.hidden { display: none; }
      
/* Background image animations */
@keyframes imageAnimation {
    0% {
    animation-timing-function: ease-in;
    opacity: 0;
    }
    8% {
    animation-timing-function: ease-out;
    opacity: 1;
    }
    17% {
    opacity: 1
    }
    25% {
    opacity: 0
    }
    100% {
    opacity: 0
    }
}

/* Mouse cursor */
#cursor {
    position: fixed;
    width: 1%;
    z-index: 100;
    pointer-events: none;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 1%;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #1f1e1e; 
    border-radius: 10px;
}  
::-webkit-scrollbar-thumb {
    background: #42dcb2; 
    border-radius: 15px;
} 
::-webkit-scrollbar-thumb:hover {
    background: #4dcbc2; 
}

/* Audio controls */
audio {
    position: fixed;
    top: 92%;
    left: 83%;
    border: 1px solid #4dcbc2; /* Edit border colour here */
    border-radius: 40px;
    box-shadow: rgba(77, 203, 195, 0.56) 0px 0px 15px 2px; /* Edit box shadow here */
}
audio::-webkit-media-controls-panel {
    background-color: #1f1e1e; /* Edit background colour here */
}  
audio::-webkit-media-controls-time-remaining-display {
    color: #4dcbc2; /* Edit colour here */
}
audio::-webkit-media-controls-current-time-display {
    color: #4dcbc2; /* Edit colour here */
}